strong {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.main {
    margin-left: 20%;
    padding: 12px 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid black;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
}


li a {
    display: block;
    width: 60xp;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li {
    border-bottom: 1px solid black;
}

li:last-child {
    border-bottom: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: green;
    color: white;
}

fieldset {
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 24px 40px;
    margin: 16px 24px;
    border: 2px solid gray;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


input[type=reset] {
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #cc0000;
}